<div class="animated fadeIn">
  <div class="row">
    <div class="container">
      <c-card>
        <c-card-header class="card-header bg-primary">
          <div class="row">
            <div class="col">
              <strong>Ideas</strong>
            </div>
            <div class="mr-3">
              <button type="button" class="btn" (click)="ideasFilter('asc')"
                [ngClass]="{black: orderView !== 'asc', like: orderView === 'asc'}">
                <!-- <i class="cil-sort-ascending lg"></i> -->
                <svg [cIcon]="icons.cilList" size="xl" title="List Icon"></svg>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('desc')"
                [ngClass]="{black: orderView !== 'desc', like: orderView === 'desc'}">
                <i class="cil-sort-descending lg"></i>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('comment')"
                [ngClass]="{black: fieldView !== 'comment', like: fieldView === 'comment'}">
                <i class="cil-chat-bubble lg"></i>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('dislikes')"
                [ngClass]="{black: fieldView !== 'dislikes', like: fieldView === 'dislikes'}">
                <i class="cil-thumb-down lg"></i>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('likes')"
                [ngClass]="{black: fieldView !== 'likes', like: fieldView === 'likes'}">
                <i class="cil-thumb-up lg"></i>
              </button>
            </div>
          </div>
        </c-card-header>

        <c-card-body>

          <c-row>
            <c-col *ngFor="let widget of brandData; index as i" sm="6" xl="3">
              <c-widget-stat-d
                [color]="widget.color ?? ''"
                [style]="widget.capBg ?? null"
                [values]="widget.values"
                class="mb-4"
              >
                <svg cIcon class="my-4 text-white" height="52"></svg>
                <ng-container>
                  <c-chart
                    #chart="cChart"
                    [data]="widget.data"
                    [options]="chartOptions"
                    class="position-absolute w-100 h-100"
                    type="line"
                  >{{ chart.id }}</c-chart
                  >
                </ng-container>
              </c-widget-stat-d>
            </c-col>
          </c-row>

          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let idea of arrayPublicIdeas; let i = index">
              <div class="brand-card" (click)="showIdea(idea, ViewIdea)">
                <div class="brand-card-header bg-facebook">
                  <!-- <i class="fa fa-facebook"></i> -->
                  <h5 style="color: white; margin: 30px;">
                    {{idea.name}}
                  </h5>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">{{idea.reacting_idea_likes.length == 0 ? 0 :
                      idea.reacting_idea_likes[0].count}}</div>
                    <div class="text-uppercase text-muted small">Likes</div>
                  </div>
                  <div>
                    <div class="text-value">{{idea.reacting_idea_dislikes.length == 0 ? 0 :
                      idea.reacting_idea_dislikes[0].count}}</div>
                    <div class="text-uppercase text-muted small">Dislikes</div>
                  </div>
                  <div>
                    <div class="text-value">{{idea.comment_idea.length == 0 ? 0 : idea.comment_idea[0].count}}</div>
                    <div class="text-uppercase text-muted small">Coments</div>
                  </div>
                </div>
              </div><!--/.brand-card-->
            </div>
          </div><!--./row-->
        </c-card-body><!--/.card-body-->
        <div class="card-footer text-center">
          <button type="button" class="btn btn-outline-dark" style="width: 75%;" (click)="moreIdeas()">
            Más Resultados
          </button>
        </div>
      </c-card>
    </div>

  </div><!--/.row-->
</div>

<ng-template #ViewIdea>
  <div class="modal-header bg-success">
    <h4 class="modal-title pull-left">Resumen Idea</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalComment.hide()">
      <span aria-hidden="true" style="color: white;">X</span>
    </button>
  </div>
  <div class="card-body">
    <div class="form-group">
      <h2>{{ideaView.name}}</h2>
      <p>
        <strong>Top User:</strong> {{topUser.name}} {{topUser.number == 0 ? null : '| ' + topUser.number + '
        comentarios'}} <br> <br>
      </p>
      <h6>
        {{ideaView.description}}
      </h6>
      <h5>
        Anexos:
      </h5>
      <div *ngIf="ideaView.idea_anexos.length > 0" style="display: flex;">
        <div *ngFor="let item of ideaView.idea_anexos">
          <a [href]="item.link" target="_blank">
            <i class="fa fa-file-pdf-o files" *ngIf="item.link.includes('.pdf')"></i>
            <i class="fa fa-file-image-o files" *ngIf="item.link.includes('.jpg') || item.link.includes('.png')"></i>
          </a>
        </div>
      </div>

      <p *ngIf="ideaView.idea_anexos.length === 0">
        No existen anexos
      </p>
    </div>

    <div class="text-center" *ngIf="arrayComments.length > 0">
      <pagination [totalItems]="(totalItems / sizePage)" [(ngModel)]="currentPage" [maxSize]="4" previousText="&lsaquo;"
        nextText="&rsaquo;"></pagination>
    </div>
    <table class="table table-bordered table-striped table-sm" *ngIf="arrayComments.length > 0">
      <thead>
        <tr>
          <th class="lg">Comentarios</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let ideaC of arrayComments | slice: (currentPage-1) * sizePage : currentPage * sizePage; let i = index">
          <td>
            {{ideaC.comment}}
            <br>
            {{ideaC.createdAt | date:"dd-MM-yyyy" }}
            <br>
            <span class="badge badge-success">{{ideaC.type_comment_idea[0].name}}</span>
          </td>
        </tr>
      </tbody>
    </table>


    <!--/.form-->
  </div>
  <div class="card-footer">

    <form id="formComments" [formGroup]="formComments">
      <div class="row">
        <div class="form-group col-12">
          <div class="input-group">
            <select class="form-control lg mr-2" id="commentTypeId" formControlName="commentTypeId" required>
              <option value="" disabled selected><-- Tipo de comentario --></option>
              <option *ngFor="let item of listCommentType" [value]="item._id">{{item.name}}</option>
            </select>
            <div class="form-group">
              <button class="btn" (click)="addReaction('dislike')" [ngClass]="{dislike: myReaction === 'dislike'}"><i
                  class="cil-thumb-down"></i></button>
              <button class="btn" (click)="addReaction('like')" [ngClass]="{like: myReaction === 'like'}"><i
                  class="cil-thumb-up"></i></button>
            </div>

          </div>
          <div class="text-danger mt-2" *ngIf="invalidField('commentTypeId')">
            {{ getErrorMessage("commentTypeId") }}
          </div>
        </div>
        <div class="form-group col">
          <div class="input-group">
            <input class="form-control lg" type="text" id="comment" formControlName="comment"
              placeholder="Comenta ahora!!">
            <span class="input-group-append">
              <button type="submit" (click)="publicIdea()" class="btn btn-primary lg"><i
                  class="cil cil-comment-bubble"></i></button>
            </span>
          </div>
          <div class="text-danger mt-2" *ngIf="invalidField('comment')">
            {{ getErrorMessage("comment") }}
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>