<div class="animated fadeIn">
  <div class="row">
    <div class="container">
      <c-card>
        <c-card-header class="card-header color-modal">
          <c-row>
            <c-col xl>
              <strong>Ideas</strong>
            </c-col>
            <c-col style="text-align: right">
              <button type="button" class="btn" (click)="ideasFilter('asc')" [ngClass]="{
                  transparent: orderView !== 'asc',
                  like: orderView === 'asc'
                }">
                <svg [cIcon]="icons.cilSortAscending" size="xl" title="List Icon"></svg>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('desc')" [ngClass]="{
                  transparent: orderView !== 'desc',
                  like: orderView === 'desc'
                }">
                <svg [cIcon]="icons.cilSortDescending" size="xl" title="List Icon"></svg>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('comment')" [ngClass]="{
                  transparent: fieldView !== 'comment',
                  like: fieldView === 'comment'
                }">
                <svg [cIcon]="icons.cilChatBubble" size="xl" title="List Icon"></svg>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('dislikes')" [ngClass]="{
                  transparent: fieldView !== 'dislikes',
                  like: fieldView === 'dislikes'
                }">
                <svg [cIcon]="icons.cilThumbDown" size="xl" title="List Icon"></svg>
              </button>
              <button type="button" class="btn" (click)="ideasFilter('likes')" [ngClass]="{
                  transparent: fieldView !== 'likes',
                  like: fieldView === 'likes'
                }">
                <svg [cIcon]="icons.cilThumbUp" size="xl" title="List Icon"></svg>
              </button>
            </c-col>
          </c-row>
        </c-card-header>

        <c-card-body>
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let idea of arrayPublicIdeas; let i = index">
              <c-card class="brand-card mt-2" (click)="showIdea(idea, ViewIdea)">
                <c-card-header style="color: black;">
                  <h5 style="height: 60px; overflow: auto;">
                    {{ idea.name }}
                  </h5>
                </c-card-header>
                <c-card-body style="display: inline-flex; justify-content: center;">
                  <div class="div-brand">
                    <b style="font-size: xx-large;">
                      {{
                      idea.reacting_idea_likes.length == 0
                      ? 0
                      : idea.reacting_idea_likes[0].count
                      }}
                    </b>
                    <div class="text-uppercase text-muted">Likes</div>
                  </div>
                  <div class="div-brand">
                    <b style="font-size: xx-large;">
                      {{
                      idea.reacting_idea_dislikes.length == 0
                      ? 0
                      : idea.reacting_idea_dislikes[0].count
                      }}
                    </b>
                    <div class="text-uppercase text-muted">Dislikes</div>
                  </div>

                  <div class="div-brand">
                    <b style="font-size: xx-large;">
                      {{
                      idea.comment_idea.length == 0
                      ? 0
                      : idea.comment_idea[0].count
                      }}
                    </b>
                    <div class="text-uppercase text-muted">Coments</div>
                  </div>
                </c-card-body>
              </c-card>
              <!--/.brand-card-->
            </div>
          </div>
          <!--./row-->
        </c-card-body><!--/.card-body-->
        <div class="card-footer text-center">
          <button type="button" class="btn btn-outline-dark" style="width: 75%" (click)="moreIdeas()">
            Más Resultados
          </button>
        </div>
      </c-card>
    </div>
  </div>
  <!--/.row-->
</div>
<ng-template #ViewIdea>
  <div class="modal-header color-modal">
    <h4 class="modal-title pull-left like2">Resumen Idea</h4>
    <button type="button" class="btn like2" (click)="modalComment.hide()">
      <svg [cIcon]="icons.cilX" size="xl" title="List Icon"></svg>
    </button>
  </div>
  <c-card-body>
    <div class="form-group">
      <h2 style="overflow: auto; max-height: 125px;">
        {{ ideaView.name }}
      </h2>
      <p>
        <strong>Top User:</strong> {{ topUser.name }}
        {{
        topUser.number == 0
        ? null
        : "| " +
        topUser.number +
        "
        comentarios"
        }}
        <br />
        <br />
      </p>
      <h6>
        {{ ideaView.description }}
      </h6>
      <h5>Anexos:</h5>
      <div *ngIf="ideaView.idea_anexos.length > 0" style="display: flex">
        <div *ngFor="let item of ideaView.idea_anexos">
          <a [href]="item.link" target="_blank">
            <svg cIcon name="cibAdobeAcrobatReader" size="xl" title="Numbered List Icon" *ngIf="item.link.includes('.pdf')"></svg>
            <svg cIcon name="cilImage" size="xl" title="Numbered List Icon" *ngIf="item.link.includes('.jpg') || item.link.includes('.png')"></svg>
          </a>
        </div>
      </div>

      <p *ngIf="ideaView.idea_anexos.length === 0">No existen anexos</p>
    </div>

    <div class="text-center" *ngIf="arrayComments.length > 0">
      <pagination [totalItems]="totalItems / sizePage" [(ngModel)]="currentPage" [maxSize]="4" previousText="&lsaquo;"
        nextText="&rsaquo;"></pagination>
    </div>
    <div class="form-group">
      <table class="table table-bordered table-striped table-sm" *ngIf="arrayComments.length > 0">
        <thead style="background-color: #629EB2;">
          <tr>
            <th class="lg">Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let ideaC of arrayComments
                | slice : (currentPage - 1) * sizePage : currentPage * sizePage;
              let i = index
            ">
            <td>
              {{ ideaC.comment }}
              <br />
              {{ ideaC.createdAt | date : "dd-MM-yyyy" }}
              <br />
              <c-badge class="color-modal-three">
                {{
                ideaC.type_comment_idea[0].name
                }}
              </c-badge>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--/.form-->
  </c-card-body>
  <div class="modal-footer">
    <form id="formComments" [formGroup]="formComments">
      <div class="row">
        <div>
          <div class="input-group">
            <c-input-group style="padding: 5px">
              <select cSelect class="form-control lg mr-2" id="commentTypeId" formControlName="commentTypeId" required>
                <option value="" disabled selected>
                  <-- Tipo de comentario -->
                </option>
                <option *ngFor="let item of listCommentType" [value]="item._id">
                  {{ item.name }}
                </option>
              </select>
              <button class="btn" (click)="addReaction('dislike')" [ngClass]="{ dislike: myReaction === 'dislike' }">
                <svg [cIcon]="icons.cilThumbDown" size="xl" title="Dislike Icon"></svg>
              </button>
              <button class="btn" (click)="addReaction('like')" [ngClass]="{ like: myReaction === 'like' }">
                <svg [cIcon]="icons.cilThumbUp" size="xl" title="Like Icon"></svg>
              </button>
            </c-input-group>

            <div class="form-group"></div>
          </div>
          <div class="text-danger mt-2" *ngIf="invalidField('commentTypeId')">
            {{ getErrorMessage("commentTypeId") }}
          </div>
        </div>

        <div class="p-0">
          <c-input-group style="padding: 5px">
            <input class="form-control lg" type="text" id="comment" formControlName="comment"
              placeholder="Comenta ahora!!" />
            <span class="input-group-append">
              <button type="submit" (click)="publicIdea()" class="btn btn-primary lg">
                <svg [cIcon]="icons.cilPaperPlane" size="xl" title="List Icon"></svg>
              </button>
            </span>
            <div class="text-danger mt-2" *ngIf="invalidField('comment')">
              {{ getErrorMessage("comment") }}
            </div>
          </c-input-group>
        </div>
      </div>
    </form>
  </div>
</ng-template>