<div class="animated fadeIn">
    <div class="row">
        <div class="container">
            <div class="card">
                <c-card-header class="card-header-unique color-modal">
                    <strong>Marketing</strong>
                </c-card-header>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header lg color-modal-two text-light">
                                    <strong>Lista de equipos</strong>
                                </div>
                                <div class="card-body" *ngIf="teamArray.length > 0">
                                    <div class="text-center">
                                        <pagination [totalItems]="(pagMyTeam.totalItems / pagMyTeam.sizePage)"
                                            [(ngModel)]="pagMyTeam.currentPage" [maxSize]="5" previousText="Anterior"
                                            nextText="Siguiente"></pagination>
                                    </div>

                                    <table
                                        class="table table-responsive-md table-hover table-striped table-outline table-align-middle mb-0">
                                        <thead>
                                            <tr>
                                                <th>N°</th>
                                                <th>Idea</th>
                                                <th>Rol</th>
                                                <th>Creador</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let team of teamArray | slice: (pagMyTeam.currentPage-1) * pagMyTeam.sizePage : pagMyTeam.currentPage * pagMyTeam.sizePage; let i = index">
                                                <td>
                                                    {{(i+1) + ((pagMyTeam.currentPage-1) * pagMyTeam.sizePage)}}
                                                </td>
                                                <td>
                                                    {{team.ideaId.name}}
                                                </td>
                                                <td>
                                                    {{team.rol}}
                                                </td>
                                                <td>
                                                    {{team.ideaId.userId.email}}
                                                </td>
                                                <td class="text-center">
                                                    <div style="display: inline-flex;">
                                                        <button (click)="processIdea(team.ideaId._id, team.ideaId.phase)"
                                                            *ngIf="team.ideaId.phase == 'finalized'" class="btn color-modal-two">
                                                            <svg [cIcon]="icons.cilBookmark" size="xl"
                                                                title="Bookmark Icon"></svg>
                                                        </button>
    
                                                        <button (click)="searchData(team.ideaId._id, team.rol)"
                                                            class="btn color-modal">
                                                            <svg [cIcon]="icons.cilInfo" size="xl" title="Info Icon"
                                                                style="color: white;"></svg>
                                                        </button>
    
                                                        <button
                                                            *ngIf="team.rol == 'administrator' && team.ideaId.phase == 'marketing'"
                                                            (click)="finalizedIdea(team.ideaId._id)" class="btn color-modal-two">
                                                            <svg [cIcon]="icons.cilArrowThickToRight" size="xl"
                                                                title="Arrow Icon"></svg>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-body text-center" *ngIf="teamArray.length === 0">
                                    <img class="responsive2" src="../../../../assets/img/nothing_search.png"
                                        alt="No hay resultados" height="300px">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header lg color-modal-three text-light">
                                    <strong>Información del Mercado</strong>
                                </div>
                                <div class="card-body" *ngIf="selected">
                                    <tabset>
                                        <tab heading="Mercado">
                                            <form id="marketForm" [formGroup]="marketForm">

                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label" for="country">País</label>
                                                    <input type="text" class="form-control" id="country"
                                                        formControlName="country" placeholder="Digite el país" required
                                                        minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('country', 'market')">
                                                        {{ getErrorMessage("country", "market") }}
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label"
                                                        for="department">Departamento</label>
                                                    <input type="text" class="form-control" id="department"
                                                        formControlName="department"
                                                        placeholder="Digite el departamento" required minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('department', 'market')">
                                                        {{ getErrorMessage("department", "market") }}
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label" for="city">Ciudad</label>
                                                    <input type="text" class="form-control" id="city"
                                                        formControlName="city" placeholder="Digite la ciudad" required
                                                        minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('city', 'market')">
                                                        {{ getErrorMessage("city", "market") }}
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label" for="zone">Zona</label>
                                                    <input type="text" class="form-control" id="zone"
                                                        formControlName="zone" placeholder="Digite la zona" required
                                                        minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('zone', 'market')">
                                                        {{ getErrorMessage("zone", "market") }}
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label" for="address">Dirección</label>
                                                    <input type="text" class="form-control" id="address"
                                                        formControlName="address" placeholder="Digite la direccción"
                                                        required minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('address', 'market')">
                                                        {{ getErrorMessage("address", "market") }}
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-12">
                                                    <label class="form-col-form-label" for="population">Población
                                                        objetivo</label>
                                                    <input type="text" class="form-control" id="population"
                                                        formControlName="population"
                                                        placeholder="Digite la población objetivo" required
                                                        minlength="5">
                                                    <div class="text-danger mt-2"
                                                        *ngIf="invalidField('population', 'market')">
                                                        {{ getErrorMessage("population", "market") }}
                                                    </div>
                                                </div>

                                            </form>
                                            <div class="pt-1">
                                                <button type="submit" *ngIf="!existMarket" (click)="createMarket()"
                                                    class="btn btn-md size-l btn-info"><svg
                                                        [cIcon]="icons.cilCheckCircle" size="xl"
                                                        title="Create Icon"></svg>
                                                    Crear</button>
                                                <button type="submit" *ngIf="existMarket" (click)="updateMarket()"
                                                    class="btn btn-md size-l color-modal"><svg
                                                        [cIcon]="icons.cilLoopCircular" size="xl"
                                                        title="Loop Icon"></svg> Actualizar</button>
                                                <!-- <div class="pl-2"> -->
                                                    <button (click)="processIdea(ideaIdG, 'marketing')"
                                                        class="btn color-modal" style="margin-left: 5px;">
                                                        <svg [cIcon]="icons.cilBookmark" size="xl"
                                                            title="Bookmark Icon"></svg>
                                                    </button>
                                                <!-- </div> -->
                                            </div>
                                        </tab>
                                        <tab heading="Retos de Mercado">
                                            <div *ngIf="existMarket">
                                                <div class="pt-1">
                                                    <button class="btn btn-info"
                                                        (click)="openModal(CreateMarketC, 'create')">
                                                        <svg [cIcon]="icons.cilPlus" size="xl"
                                                            title="Create Icon"></svg>
                                                        Crear Retos
                                                    </button>
                                                </div>

                                                <div class="text-center" *ngIf="marketChallArray.length == 0">
                                                    <img class="responsive"
                                                        src="../../../../assets/img/nothing_search.png"
                                                        alt="No hay resultados">
                                                </div>

                                                <br>
                                                <div class="col text-center" *ngIf="marketChallArray.length > 0">
                                                    <pagination
                                                        [totalItems]="(pagMarketChall.totalItems / pagMarketChall.sizePage)"
                                                        [(ngModel)]="pagMarketChall.currentPage" [maxSize]="5"
                                                        previousText="Anterior" nextText="Siguiente"></pagination>
                                                </div>
                                                <table *ngIf="marketChallArray.length > 0"
                                                    class="table table-responsive-lg table-hover col table-outline mb-0">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th class="text-center">N°</th>
                                                            <th class="text-center">Reto</th>
                                                            <th class="text-center">Descripción</th>
                                                            <th class="text-center">Fecha limite</th>
                                                            <th class="text-center">Estado</th>
                                                            <th class="text-center" colspan="2">Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let marketC of marketChallArray | slice: (pagMarketChall.currentPage-1) * pagMarketChall.sizePage : pagMarketChall.currentPage * pagMarketChall.sizePage; let i = index">
                                                            <td class="text-center">
                                                                {{(i+1) + ((pagMarketChall.currentPage-1) *
                                                                pagMarketChall.sizePage)}}
                                                            </td>
                                                            <td class="text-center">
                                                                {{marketC.title}}
                                                            </td>
                                                            <td>
                                                                <span class="truncate"> {{marketC.description}} </span>
                                                                <br>
                                                                <div class="small text-muted">
                                                                    <span> <strong>Creado:</strong> {{marketC.createdAt
                                                                        | date:"dd-MM-yyyy" }} </span>
                                                                    <span> <strong>Actualizado:</strong>
                                                                        {{marketC.updatedAt | date:"dd-MM-yyyy" }}
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                {{marketC.finishDate.split('T')[0] | date:
                                                                'dd-MM-yyyy'}}
                                                            </td>
                                                            <td class="text-center">
                                                                <svg *ngIf="marketC.state === 'inProcess'"
                                                                    [cIcon]="icons.cilLoopCircular" size="xl"
                                                                    title="Loop Icon"></svg>
                                                                <svg *ngIf="marketC.state === 'success'"
                                                                    [cIcon]="icons.cilCheckCircle" size="xl"
                                                                    title="Check Icon"></svg>
                                                                <svg *ngIf="marketC.state === 'failed'"
                                                                    [cIcon]="icons.cilXCircle" size="xl"
                                                                    title="X Icon"></svg>
                                                            </td>
                                                            <td class="text-center" colspan="2">
                                                                <div class="pointer">
                                                                    <a (click)="openModal(EditMarketC, 'edit', marketC)"
                                                                        class="link mr-2">
                                                                        <svg [cIcon]="icons.cilPencil" size="xl"
                                                                            title="Pencil Icon"></svg>
                                                                    </a>
                                                                </div>

                                                                <div class="pointer">
                                                                    <a (click)="openModal(EvidencePanel, 'evidence', marketC)"
                                                                        class="link mr-2">
                                                                        <svg [cIcon]="icons.cilNewspaper" size="xl"
                                                                            title="Newspaper Icon"></svg>
                                                                    </a>
                                                                </div>

                                                                <div class="pointer">
                                                                    <a (click)="disableMarketC(marketC._id)"
                                                                        class="link mr-2">
                                                                        <svg [cIcon]="icons.cilTrash" size="xl"
                                                                            title="Trash Icon"></svg>
                                                                    </a>
                                                                </div>

                                                                <div class="pointer">
                                                                    <a (click)="endMarketC(marketC._id)"
                                                                        *ngIf="marketC.state == 'inProcess' && rolIdG == 'administrator'"
                                                                        class="link mr-2">
                                                                        <svg [cIcon]="icons.cilActionRedo" size="xl"
                                                                            title="Redo Icon"></svg>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div *ngIf="!existMarket">
                                                <h2>No hay un mercado establecido para la creación de retos</h2>
                                            </div>
                                        </tab>
                                    </tabset>

                                </div>
                                <div class="card-body text-center" *ngIf="!selected">
                                    <img class="responsive2" src="../../../../assets/img/marketing_background.png"
                                        alt="No hay resultados" height="300px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #CreateMarketC>
    <div class="modal-header color-modal">
        <h4 class="modal-title pull-left like2">Agregar reto de mercado</h4>
        <button type="button" class="btn like2" (click)="modal.hide()">
            <svg [cIcon]="icons.cilX" size="xl" title="Close Icon"></svg>
        </button>
    </div>
    <div class="modal-body">
        <form id="marketChallForm" [formGroup]="marketChallForm">
            <div class="form-group col">
                <label class="form-col-form-label" for="title">Título</label>
                <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="Escriba el título del reto" required minlength="5">
                <div class="text-danger mt-2" *ngIf="invalidField('title', 'chall')">
                    {{ getErrorMessage("title", 'chall') }}
                </div>
            </div>
            <div class="form-group col">
                <label class="form-col-form-label" for="description">Descripción</label>
                <textarea class="form-control" id="description" formControlName="description"
                    placeholder="Describa el reto" rows="4" required minlength="7"></textarea>
                <div class="text-danger mt-2" *ngIf="invalidField('description', 'chall')">
                    {{ getErrorMessage("description", 'chall') }}
                </div>
            </div>
            <div class="form-group col">
                <label class="form-col-form-label" for="title">Fecha limite</label>
                <input type="date" class="form-control" id="finishDate" formControlName="finishDate" required>
                <div class="text-danger mt-2" *ngIf="invalidField('finishDate', 'chall')">
                    {{ getErrorMessage("finishDate", 'chall') }}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="createMarketChallenge()" class="btn btn-md size-l color-modal"><svg
                [cIcon]="icons.cilCheck" size="xl" title="Check Icon"></svg>Agregar</button>
    </div>
</ng-template>

<ng-template #EditMarketC>
    <div class="modal-header color-modal">
        <h4 class="modal-title pull-left like2">Editar reto de mercado</h4>
        <button type="button" class="btn like2" (click)="modal.hide()">
            <svg [cIcon]="icons.cilX" size="xl" title="Close Icon"></svg>
        </button>
    </div>
    <div class="modal-body">
        <form id="marketChallForm" [formGroup]="marketChallForm">
            <div class="form-group col">
                <label class="form-col-form-label" for="title">Título</label>
                <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="Escriba el título del reto" required minlength="5">
                <div class="text-danger mt-2" *ngIf="invalidField('title', 'chall')">
                    {{ getErrorMessage("title", 'chall') }}
                </div>
            </div>
            <div class="form-group col">
                <label class="form-col-form-label" for="description">Descripción</label>
                <textarea class="form-control" id="description" formControlName="description"
                    placeholder="Describa el reto" rows="4" required minlength="7"></textarea>
                <div class="text-danger mt-2" *ngIf="invalidField('description', 'chall')">
                    {{ getErrorMessage("description", 'chall') }}
                </div>
            </div>
            <div class="form-group col">
                <label class="form-col-form-label" for="title">Fecha limite</label>
                <input type="date" class="form-control" id="finishDate" formControlName="finishDate" required>
                <div class="text-danger mt-2" *ngIf="invalidField('finishDate', 'chall')">
                    {{ getErrorMessage("finishDate", 'chall') }}
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="updateMarketChallenge()" class="btn btn-md size-l btn-info"><svg
                [cIcon]="icons.cilLoopCircular" size="xl" title="Loop Icon"></svg> Editar</button>
    </div>
</ng-template>

<ng-template #EvidencePanel>
    <div class="modal-header color-modal">
        <h4 class="modal-title pull-left like2">Panel de Evidencias</h4>
        <button type="button" class="btn like2" (click)="modal.hide()">
            <svg [cIcon]="icons.cilX" size="xl" title="Close Icon"></svg>
        </button>
    </div>
    <div class="modal-body">
        <form id="evidenceForm" [formGroup]="evidenceForm">
            <div class="text-center">
                <label class="form-col-form-label">Anexo de la evidencia</label>
                <div>
                    <div class="custom2-input-file mx-auto"
                        [ngStyle]="{'background-color': evidenceForm!.value.evidence !== '' ?  'green': '#629EB2'}">
                        <input type="file" class="input-file" id="evidence" (change)="onFileSelect($event)"
                            [disabled]="sizeEvidence">
                        <p *ngIf="evidenceForm!.value.evidence === ''">Subir Archivo...</p>
                        <p *ngIf="evidenceForm!.value.evidence !== ''">Archivo Escogido!!!</p>
                    </div>
                </div>
                <p class="bottom" *ngIf="sizeEvidence"> <a [href]="evidenceForm!.value.evidence" target="_blank"
                        style="font-size: 18px;">Evidencia_cargada</a> <i class="cil-trash trash"
                        (click)="deleteEvidence()" placement="top" tooltip="Eliminar"></i> </p>
                <p class="bottom" *ngIf="!sizeEvidence" style="color: red;"> Evidencia no Adjuntada </p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" *ngIf="!sizeEvidence" (click)="uploadEvidence()"
            class="btn btn-md size-l color-modal"><svg [cIcon]="icons.cilCloudUpload" size="xl"
                title="Cloud Upload Icon"></svg> Subir Evidencia</button>
        <button type="submit" *ngIf="sizeEvidence" (click)="modal!.hide()" class="btn btn-md size-l btn-danger"><svg
                [cIcon]="icons.cilBan" size="xl" title="Ban Icon"></svg> Cerrar</button>
    </div>
</ng-template>