<div class="app-body">
    <main class="main d-flex align-items-center justify-content-center bg-white">
      <div class="card">
        <div class="card-header bg-grey">
          <div routerLink="/landing" style="cursor: pointer;">
            <svg [cIcon]="icons.cilArrowThickLeft" style="color: green;" size="10px" title="List Icon"></svg>
          </div>
          <div class="text-center">
            <img src="assets/img/logo_name_color.png" alt="logo_origen" height="30px">
          </div>
        </div>
  
        <div class="card-body p-4">
          <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <c-input-group>
              <span class="input-group-text">@</span>
              <input type="text" class="form-control" placeholder="Correo" formControlName="email" required>
            </c-input-group>
            
            <c-input-group class="pt-2">
              <span class="input-group-text">
                <svg [cIcon]="icons.cilLockLocked" size="10px" title="List Icon"></svg>
              </span>
              <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" required>
            </c-input-group>
            
            <div class="row pt-3">
              <div class="col d-grid gap-2">
                <button type="submit" cButton>Iniciar Sesión</button>
              </div>
            </div>
          </form>
        </div>
        
        <div class="card-footer text-center">
          <div>
            <button type="button" (click)="register()" class="btn btn-link" style="color: #3e9e41;">Registrate ahora!</button>
          </div>
        </div>
  
      </div>
    </main>
  </div>