<div class="app-body">
  <main class="main d-flex align-items-center bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-header bg-grey">
              <h2 class="text-center">Registro</h2>
            </div>

            <div class="card-body p-4">
              <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">

                <c-input-group>
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" placeholder="Correo" formControlName="email" required>
                  <div class="input-group text-danger" *ngIf="invalidField('email')">
                    <p>{{ getErrorMessage("email") }}</p>
                  </div>
                </c-input-group>

                <c-input-group class="pt-2">
                  <span class="input-group-text"><svg [cIcon]="icons.cilLockLocked" size="10px"
                      title="List Icon"></svg></span>
                  <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                    required>
                  <div class="input-group text-danger" *ngIf="invalidField('password')">
                    <p>{{ getErrorMessage("password") }}</p>
                  </div>
                </c-input-group>

                <c-input-group class="pt-2">
                  <span class="input-group-text"><svg [cIcon]="icons.cilLockLocked" size="10px"
                      title="List Icon"></svg></span>
                  <input type="password" class="form-control" placeholder="Confirmar contraseña"
                    formControlName="repeatPassword" required>
                  <div class="input-group text-danger" *ngIf="invalidPasswords()">
                    <p>Las contraseñas deben ser iguales</p>
                  </div>
                </c-input-group>

                <div class="row pt-3">
                  <div class="col d-grid gap-2">
                    <button type="submit" cButton>Crear Cuenta</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer p-0 text-center">
              <div routerLink="/login" style="cursor: pointer; padding: 10px;">
                <svg [cIcon]="icons.cilChevronDoubleLeft" style="color: green;" size="xl" title="List Icon"></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>