<div class="app-body">
    <main class="main d-flex align-items-center bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-header bg-grey">
                <h2 class="text-center">Registro</h2>
              </div>
  
              <div class="card-body p-4">
                <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo" formControlName="email" required>
                    <div class="input-group text-danger" *ngIf="invalidField('email')">
                      <p>{{ getErrorMessage("email") }}</p>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
                      required>
                    <div class="input-group text-danger" *ngIf="invalidField('password')">
                      <p>{{ getErrorMessage("password") }}</p>
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirmar contraseña"
                      formControlName="repeatPassword" required>
                    <div class="input-group text-danger" *ngIf="invalidPasswords()">
                      <p>Las contraseñas deben ser iguales</p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-grey">Crear Cuenta</button>
                </form>
              </div>
              <div class="card-footer p-0 text-center">
                <div>
                  <button type="button" class="btn btn-link" style="color: #3e9e41;" (click)="return()">
                    <span> <i class="cil-chevron-double-left" style="font-size: xx-large; color: #3e9e41;"></i></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>