<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <c-sidebar-brand [brandFull]="{
      src: 'assets/img/logo_name_color.png',
      width: 200,
      height: 35,
      alt: 'CoreUI Logo'
    }" [brandNarrow]="{
      src: 'assets/img/logo.png',
      width: 40,
      height: 39,
      alt: 'CoreUI Logo Mini'
    }" routerLink="./">
    </c-sidebar-brand>
    <c-header-nav class="ms-10">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar cTextColor="primary" shape="rounded-1" size="md" [src]="profile.imgCloud" status="success">
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Perfil</h6>
      </li>
      <li>
        <div cDropdownItem style="text-align: center;">
          <i>{{profile.name}}</i>
        </div>
      </li>
      <li>
        <div cDropdownItem style="text-align: center;">
          <i>{{profile.lastname}}</i>
        </div>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Opciones</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="/profile" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <a cDropdownItem (click)="logout()">
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Cerrar sesión
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>