/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";

@font-face {
  font-family: 'originicons';
  src:
    url('../assets/fonts/originicons.ttf?mra9o3') format('truetype'),
    url('../assets/fonts/originicons.woff?mra9o3') format('woff'),
    url('../assets/fonts/originicons.svg?mra9o3#originicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ori-"], [class*=" ori-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'originicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ori-cocreation-v2:before {
  content: "\e907";
}
.ori-my-idea:before {
  content: "\e908";
}
.ori-cocreation:before {
  content: "\e900";
}
.ori-design:before {
  content: "\e901";
}
.ori-idea:before {
  content: "\e902";
}
.ori-market:before {
  content: "\e903";
}
.ori-meeting:before {
  content: "\e904";
}
.ori-needs:before {
  content: "\e905";
}
.ori-ideation:before {
  content: "\e906";
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-position: right 1.1em center;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: right 1.1em center;
}

// Input File  
.custom-input-file {
  background-color: #629EB2;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  min-height: 15px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 290px;
  border-radius: 10px;
}

.custom-input-file .input-file {
  border: 10px solid transparent;
  cursor: pointer;
  font-size: 100%;
  opacity: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  right: 0px;
  top: 0px;
}

p {
  margin: 0;
}

app-header {
  .navbar-toggler{
    opacity: 0;
    z-index: 100;
    position: relative;
    cursor: default;
  }
}

.sidebar-show .main::before {
  z-index: 0; 
  background: local;
  animation: none;
}

.aside-menu-show .main::before {
  z-index: 1018; 
  background-color: rgba(0, 0, 0, 0.7);
  animation: opacity 0.25s;
}

.app-body {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 15%;
}

.card-header-unique {
  font-size: large;
  color: #fff;
}

.like2 {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.color-modal {
  background-color: #3e8457;
  color: #fff;
}

.color-modal-two {
  background-color: #629EB2;
  color: #fff;
}

.color-modal-three {
  background-color: #35748E ;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}